.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    transform: scale(100%);
    // position: absolute;
    padding: 0 3rem;
    overflow: hidden;
    box-shadow: 0px 4px 22px rgb(116 130 151 / 45%);
    transition: all 0.3s ease-out;
    color: var(--clr-text-lightest);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 600;


}

.navbar.floating_navbar {
    // height: 6rem;
    box-shadow: 0px 4px 22px rgb(116 130 151 / 45%);
    border-radius: 30px;
    top: 2rem;
    transform: scale(0.75, 0.85);
    transition: all 0.3s ease-out;
    background-color: var(--clr-card-bg);
    position: fixed;
    font-size: var(--fz-sm);
    font-weight: 800;
    z-index: 9;
}

.nav_items {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav_item {
    margin: 0px 15px;
    position: relative;
    counter-increment: item 1;
    font-size: inherit;
    color: inherit;
}

.nav_item a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--clr-text-primary);
    // font-size: var(--fz-xxs);
    text-align: right;
}

.nav_item a {
    transition: none;
    padding: 2.8rem 1.4rem;
}

.logo {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.element {
    position: absolute;
    width: 100px;
    border-radius: 5rem;
    height: 100px;
    box-shadow: 0px 0px 45px rgb(255 255 255 / 72%);
    top: -5rem;
    left: -8rem;
    z-index: -3;
    background-color: rgba(255, 255, 255, 0.61);
}


.left_border {
    content: " ";
    width: 2px;
    background: linear-gradient(0deg, var(--grad-2)0%, var(--grad-1)100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;

}

.nav_right {
    display: flex;
    align-items: center;
}