@import './styles/mixin';

.hero-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  // height: 100vh;
  margin: 10rem 0 0 0;
}

.hero_text {

  &_greet {
    margin: 0 0 3rem 4rem;
    color: var(--clr-text-primary);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }

  &_name {
    font-weight: 600;
    color: var(--clr-text-lightest) !important;
    line-height: 1.1;
  }

  &_into_text {
    margin: 2rem 0 0;
    max-width: 54rem;
  }

}

.big_heading {
  margin: 0;
  font-size: clamp(4rem, 8vw, 8rem);
  color: inherit;
}

.logo_face {
  fill: var(--clr-text-primary);
}

.logo_nose {
  fill: var(--clr-card-bg);
}

.logo_eye1,
.logo_eye2 {
  fill: var(--clr-card-bg);
}

.logo_eye1_inner,
.logo_eye2_inner {
  fill: var(--clr-text-primary);
}

.orientation_left {
  width: 5rem;
  top: 50%;
  left: 5rem;
  position: fixed;
  height: 50%;
  // background-color: gray;

  @include respond(tab-port) {
    display: none
  }
}

.orientation_right {
  width: 5rem;
  top: 50%;
  right: 5rem;
  position: fixed;
  height: 50%;
  display: flex;
  justify-content: center;

  @include respond(tab-port) {
    display: none;
  }
}

.orientation_top_right {
  width: 5rem;
  top: 10%;
  right: 5rem;
  position: fixed;
  height: 50%;
  display: flex;
  justify-content: center;
}

.mail {
  margin: 2rem auto;
  padding: 1rem;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  height: 100%;
  display: flex;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  justify-content: space-between;
}

.mail::after {
  content: "";
  display: block;
  width: .1rem;
  height: 15rem;
  margin: 0 auto;
  background-color: var(--light-slate);
}

.orientation_right a:hover,
.orientation_right a:focus {
  transform: translateY(-0.3rem);
}