@import './styles/mixin.scss';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}




:root {
  --clr-body-bg: var(--navy);
  --clr-card-bg: var(--navy);
  --clr-text-primary: var(--green);
  --clr-bg-btn: var(--green-tint);
  --clr-text-secondry: var(--slate);
  --clr-text-light-secondry: var(--light-slate);
  --clr-text-lightest: var(--lightest-slate);
  --clr-lines-lighBg: var(--lightest-navy);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 1.2rem;
  --fz-xs: 1.3rem;
  --fz-sm: 1.4rem;
  --fz-md: 1.6rem;
  --fz-lg: 1.8rem;
  --fz-xl: 2rem;
  --fz-xxl: 2.2rem;
  --fz-heading: 3.2rem;
  --border-radius: .4rem;
  --nav-height: 10rem;
  --nav-scroll-height: 7rem;
  --tab-height: 4.2rem;
  --tab-width: 12rem;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 3rem;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  // this definece what 1 rem is
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;





  // width less then 1200px
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 8px, 9/16 = 50%
  }

  // width less then 900px
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  // width less then 600px
  @include respond(phone) {
    font-size: 40%; // 1rem = 8px, 8/16 = 50%    (not needed sice tab-port and phone have fontsize)
  }

  @include respond(big-desk) {
    font-size: 75%;
  }

}

body {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-card-bg);
  color: var(--clr-text-secondry);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 600;
  color: var(--clr-text-lightest);
  line-height: 1.1;
}

p {
  margin: 0 0 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 9rem 26rem 2rem 26rem;
  /* height: 93vh; */
  display: flex;
  // margin: 2rem 0;
  flex-direction: column;
  justify-content: center;

  // width less then 1200px
  @include respond(tab-land) {
    padding: 4rem 16rem;
  }

  @include respond(tab-port) {
    padding: 8rem 8rem;
  }

  @include respond(phone) {
    padding: 12rem 4rem;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--clr-text-primary);
  cursor: pointer;
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

.main {
  counter-reset: section 0;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 1rem 0px 4rem;
  width: 100%;
  font-size: clamp(2.6rem, 5vw, var(--fz-heading));
  white-space: nowrap;

  &::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 1rem;
    color: var(--clr-text-primary);
    font-family: var(--font-mono);
    font-weight: 400;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: .1rem;
    margin-left: 2rem;
    background-color: var(--lightest-navy);
  }

}



.resume-button {
  color: var(--clr-text-primary);
  background-color: transparent;
  border: .1rem solid var(--clr-text-primary);
  border-radius: var(--border-radius);
  padding: 1.2rem 2rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 1.5rem;
  font-size: var(--fz-xs);
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
  background-color: var(--clr-bg-btn);
  outline: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: .1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  outline: .3rem solid var(--radio-color, currentColor);
  outline-offset: .3rem;
  border-radius: 50%;

}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#pink {
  --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#light {
  --radio-color: rgb(221, 133, 133);
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #232323;
}

:root:has(#dark:checked) {
  --clr-body-bg: #000000;
  --clr-card-bg: #000000;
  --clr-text-primary: #1098F7;
  --clr-text-secondry: #DECCCC;
  --clr-text-light-secondry: #c5b5b5;

  --clr-text-lightest: #FFFFFF;
  --clr-bg-btn: #1097f72c;
  --clr-lines-lighBg: var(--white);

}


:root:has(#light:checked) {
  --clr-body-bg: #F4F1BB;
  --clr-card-bg: #F4F1BB;
  --clr-text-primary: #CD5334;
  --clr-text-secondry: #2E282A;
  --clr-text-light-secondry: #4e4447;

  --clr-text-lightest: #0b090a;
  --clr-bg-btn: #cd53343c;
  --clr-lines-lighBg: var(--lightest-slate);

}