@import '../../styles/mixin';

.about_me {

    & .inner {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 5rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(14rem, 20rem));
        gap: 0px 1rem;
        padding: 0px;
        margin: 2rem 0px 0px;
        overflow: hidden;
        list-style: none;

        & li {
            position: relative;
            margin-bottom: 1rem;
            padding-left: 2rem;
            font-family: var(--font-mono);
            font-size: var(--fz-xs);
        }

        & li::before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: var(--clr-text-primary);
            font-size: var(--fz-sm);
            line-height: 1.2rem;
        }
    }

    &-pic_section {
        position: relative;
        max-width: 35rem;
    }

    & .wrapper {
        box-shadow: 0 1rem 3rem -1.5rem var(--navy-shadow);
        transition: var(--transition);
        display: block;
        position: relative;
        width: 100%;
        border-radius: var(--border-radius);
        background-color: var(--clr-text-primary);

        &::before {
            top: 0px;
            left: 0px;
            background-color: var(--navy);
            mix-blend-mode: screen;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            transition: var(--transition);
        }

        &::after {
            border: 2px solid var(--clr-text-primary);
            top: 2rem;
            left: 2rem;
            z-index: -1;
        }

        &:hover::after,
        &:focus::after {
            top: 1.5rem;
            left: 1.5rem;
        }

        &:hover .img,
        &:focus .img {
            filter: none;
            mix-blend-mode: normal;
        }

        &:hover,
        &:focus {
            outline: 0px;
            box-shadow: 0 2rem 3rem -1.5rem var(--navy-shadow);
        }

        & .img {
            position: relative;
            border-radius: var(--border-radius);
            mix-blend-mode: multiply;
            filter: grayscale(100%) contrast(1);
            transition: var(--transition);

            & img {
                width: 100%;
            }
        }
    }

}